spring:
  application:
    name: discovery-server
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8088/}

logging:
  level:
    org:
      springframework:
        boot: WARN
        web: WARN

---
spring:
  config:
    activate:
      on-profile: docker
server:
  port: 8089
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8089/eureka/

