spring:
  application:
    name: products-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8088/}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8089/eureka/
    fetch-registry: true
    register-with-eureka: true

---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8088
  datasource:
    url: jdbc:mysql://mysql:3306/product_db?useSSL=false&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8089/eureka/
