spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo
server:
  port: 8088

---
spring:
  config:
    activate:
      on-profile: docker
server:
  port: 8088