spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8088/}
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23lisr0a0UVxin0nhk
            client-secret: 597b00e094b7170af6c4754eecdc6edfba728925
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - user:email
              - read:user
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: CircuitBreaker
              args:
                name: defaultCircuitBreaker
                fallbackUri: forward:/fallback
            - name: Retry
              args:
                retries: 1
                statuses: SERVICE_UNAVAILABLE
                methods: POST
          routes:
            - id: products-service
              uri: http://localhost:8090
              predicates:
                - Path=/products/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8089/eureka/
    fetch-registry: true
    register-with-eureka: true

---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8088
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: products-service
              uri: http://products-service:8090
              predicates:
                - Path=/products/**
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8089/eureka/
